<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org" xml:lang="en" lang="en">

<head>
	<meta name="Description" content="Gozer" />
	<meta name="Keywords" content="Gozer" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="Distribution" content="Global" />
	<meta name="Author" content="SwordLord - the coding crew" />
	<meta name="Robots" content="index,follow" />
	
	<link rel="stylesheet" href="images/default.css" type="text/css" />
	
	<script type="text/javascript">
		var browserName=navigator.appName;
		if (browserName=="Microsoft Internet Explorer") {
			document.write('<link rel="stylesheet" href="../images/ie.css" type="text/css">')
		} else {
			document.write('<link rel="stylesheet" href="../images/others.css" type="text/css">')
		}
	</script>
	
	<title wicket:id="pageTitle">Gozer</title>
</head>

<body>

<!-- wrap starts here -->
<div id="wrap">

	<!--header -->
	<div id="header">			
				
		<div id="header-links">
		</div>
		
	<!--header ends-->					
	</div>
		
	<div id="header-photo">
		<h1 id="logo-text"><a wicket:id="homeLink" title=""><wicket:message key="header.slogan">Gozer</wicket:message></a></h1>
		<h2 id="slogan">
		</h2>
	</div>		
		
	<wicket:child/>
		
	<!-- footer starts -->			
	<div id="footer-wrap"><div id="footer">				
			
			<p>
			&copy; 2017 by <strong>SwordLord - the coding crew</strong> and individual authors |
			Design based on Marketplace by: <a href="http://www.styleshout.com/">styleshout</a> 
			</p>		
			
	</div></div>
	<!-- footer ends-->	
	
<!-- wrap ends here -->
</div>

</body>
</html>
